<!-- Required meta tags-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!-- Your app title -->
<title>My App</title>
<!-- Path to Framework7 iOS CSS theme styles-->
<link href="https://cdn.bootcss.com/framework7/1.6.4/css/framework7.ios.min.css" rel="stylesheet">
<!-- Path to Framework7 iOS related color styles -->
<link href="https://cdn.bootcss.com/framework7/1.6.4/css/framework7.ios.colors.min.css" rel="stylesheet">